* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  /*background-image: url('./assets/background.jpg');*/
  overflow-x: hidden;
  /*background-size: cover;*/
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root
{
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color-1: 18, 113, 255;
  --color-2: 221, 74, 255;
  --color-3: 100, 220, 255;
  --color-4: 200, 50, 50;
  --color-5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 60%;
  --blending: hard-light;
}


/* BACKGROUND */
@keyframes moveInCircle
{
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical
{
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal
{
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: -1;
}

svg
{
  position: fixed;
  top:0;
  left:0;
  width:0;
  height:0;
}

.gradients-container
{
  will-change: filter;
  filter: url(#goo) blur(5px);
  width: 50%;
  height: 50%;
  transform: scale(2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.g1
{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-1), 0.8) 0, rgba(var(--color-1), 0) 56%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  margin-top: var(--rnd-y1, 0%);
  margin-left: var(--rnd-x1, 0%);
  transition: margin 1s ease-out;

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}

.g2
{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-2), 0.8) 0, rgba(var(--color-2), 0) 56%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size) * 1.3;
  height: var(--circle-size) * 1.3;
  margin-top: var(--rnd-y2, 0%);
  margin-left: var(--rnd-x2, 0%);
  transition: margin 1s ease-out;

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 10s reverse infinite;

  opacity: 1;
}

.g3
{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-3), 0.8) 0, rgba(var(--color-3), 0) 56%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size) * 1.2;
  height: var(--circle-size) * 1.2;
  margin-top: var(--rnd-y3, 0%);
  margin-left: var(--rnd-x3, 0%);
  transition: margin 1s ease-out;

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s linear infinite;

  opacity: 1;
}

.g4
{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-4), 0.8) 0, rgba(var(--color-4), 0) 56%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  margin-top: var(--rnd-y4, 0%);
  margin-left: var(--rnd-x4, 0%);
  transition: margin 1s ease-out;

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 20s ease infinite;

  opacity: 1;
}

.g5
{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-5), 0.8) 0, rgba(var(--color-5), 0) 56%) no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) * 1.5);
  height: calc(var(--circle-size) * 1.5);
  margin-top: var(--rnd-y5, 0%);
  margin-left: var(--rnd-x5, 0%);
  transition: margin 1s ease-out;

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 40s ease infinite;

  opacity: 1;
}

.interactive
{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 56%) no-repeat;
  mix-blend-mode: var(--blending);

  /*width: 50%;
  height: 50%;*/
  width: 500px; /* Фиксированный размер для предсказуемости */
  height: 500px;
  margin-left: -250px; /* Центрирование относительно точки курсора */
  margin-top: -250px;
  top: 0;
  left: 0;
  /*top: -50%;
  left: -50%;*/

  opacity: 0.7;
}

.g1, .g2, .g3, .g4, .g5{
  position: absolute;
  top: 50%;
  left: 50%;

  width: var(--circle-size);
  height: var(--circle-size);

  transform: translate(calc(-50% + var(--rnd-x, 0px)), calc(-50% + var(--rnd-y, 0px)));
  mix-blend-mode: var(--blending);
  opacity: 1;
  will-change: transform;
}

.interactive {
  will-change: transform;
  transform: translateZ(0); 
}


/* LAYOUT */
.container
{
  position: relative;
  z-index: 1;
  /*background-color: antiquewhite;*/
  width: 97vw;
  height: 97vh;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  gap: 2em;
}


.row
{
  border-radius: 3em;
}

.row-1
{
  /*height: 55vh;*/ 
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.row-2
{
  /*height: 55vh;*/
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.row-3
{
  /*height: 60vh;*/
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*
.col
{
  border: 2px solid black;
  border-radius: 1em;
}
*/

.col-1
{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.col-2
{
  flex: 1;
  display: flex;
  gap: 1em;
}

.col-box
{
  border: 2px solid black;
  flex: 1;
  border-radius: 2em;
  gap: 2em;
}

.col-box-big
{
  border: 2px solid black;
  flex: 3.5;
  border-radius: 2em;
  gap: 2em;
}

.col-box, .col-box-big
{
  position: relative;
  overflow: hidden;
}

.col-box::before, .col-box-big::before {
  content: "";
  position: absolute;
  inset: -10%;
  pointer-events: none;
  isolation: isolate;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  filter: url(#de-glass-distortion);
  z-index: 0;
}

.col-box::after, .col-box-big::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: rgba(255,255,255,0.25);
  box-shadow:
    inset 2px 2px 1px rgba(255,255,255,0.5),
    inset -1px -1px 1px rgba(255,255,255,0.5);
  z-index: 0;
}

.col-box > *, .col-box-big > * {
  position: relative;
  z-index: 1;
}

img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
}